<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AirdPro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    
    <userSettings>
        <AirdPro.Properties.Settings>
            <setting name="Repository" serializeAs="String">
                <value />
            </setting>
            <setting name="ConfigFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="MLReposFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="PXReposFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastOutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastOpenPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RedisHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="RedisPort" serializeAs="String">
                <value>6379</value>
            </setting>
            <setting name="RedisUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="RedisPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxConversionTasks" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MirrorPairs" serializeAs="String">
                <value />
            </setting>
            <setting name="PinPathList" serializeAs="String">
                <value />
            </setting>
            <setting name="JobInfoList" serializeAs="String">
                <value>[]</value>
            </setting>
            <setting name="LastSelectedConfig" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="CopyFileFromRemote" serializeAs="String">
                <value>False</value>
            </setting>
        </AirdPro.Properties.Settings>
    </userSettings>
</configuration>
